- if !@user.new_record? && can?(:toggle_confirmation, @user)
  .pull-right
    %b
      Confirmed?
      = check_box_tag @user.id, @user.id, @user.confirmed?,
        url: "#{toggle_confirmation_admin_user_path(@user.id)}?user[to_confirm]=",
        class: 'switch-checkbox'
= f.label :is_admin
= f.check_box :is_admin, class: 'switch-checkbox'
.help-block
  An admin can create a new conference, manage users and make other users admins.

%h2 Basic Information

.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control'
  %span.help-block
    This is your real name
.form-group
  = f.label :nickname
  = f.text_field :nickname, class: 'form-control'
.form-group
  = f.label :timezone
  %br
  = f.select :timezone, time_zone_options_for_select(selected: @user.timezone), include_blank: true
  %span.help-block
    The timezone setting will update the event schedules to show using the time you selected.
    Your browser is current set to
    %span.js-localTimezone
.form-group
  = f.label :avatar
  %br
  = image_tag(@user.gravatar_url(size: '48'), title: "Yo #{@user.name}!", alt: '', class: 'img-rounded')
  %span.help-block
    Change your avatar on
    = link_to 'gravatar.com', 'https://gravatar.com'
  %p
    Or upload a picture.
  = f.file_field :picture, hint: 'If you upload a picture, it will be used in place of Gravatar.'
  - if @user.picture?
    %p
      Current Picture
      %br
      = image_tag(@user.picture.thumb.url, width: '20%')
.form-group
  = f.label :affiliation
  = f.text_field :affiliation, class: 'form-control'
  %span.help-block
    The company you work work, the user group you belong to, or nothing at all.
.form-group
  = f.label :biography
  = f.text_area :biography, rows: 5, data: { provide: 'markdown' }, class: 'form-control'
  %span.help-block
    You have used
    %span#bio_length
      = @user.biography ? @user.biography.split.length : 0
    words. Biographies are limited to 150 words.
    = markdown_hint
.form-group
  .text-right
    = f.submit nil, class: 'btn btn-primary'

:javascript
  $(document).ready(function() {
    $('#user_timezone').selectize({})
  });

  let localOffset = (new Date()).getTimezoneOffset()/60;
  // UTC JS offsets are "-1 *" of how they're displayed.
  let operator = localOffset < 0 ? '+' : '-';
  $('.js-localTimezone').text(`(GMT ${operator}${Math.abs(localOffset)}).`);
