.container
  .row
    .col-md-12
      .page-header
        %h1 Edit your profile
  .row
    .col-md-12
      = semantic_form_for(@user, url: user_path(@user.id)) do |f|
        = f.input :name, as: :string, hint: 'This is your real name.'
        = f.input :nickname, as: :string, hint: 'This is how the other users see you, not your real name'
        = f.label :timezone
        %br
        = f.select :timezone, time_zone_options_for_select(selected: @user.timezone), include_blank: true
        %span.help-block
          The timezone setting will update the event schedules to show using the time you selected.
          Your browser is current set to
          %span.js-localTimezone
        %br
        .control-label
          = "Current Avatar"
        = image_tag(@user.profile_picture(size: '48'), alt: "#{@user.name} profile")
        = link_to 'Change your avatar on Gravatar', 'https://gravatar.com'
        %p
          Or upload a picture.
        = f.input :picture, hint: 'If you upload a picture, it will be used in place of Gravatar.'
        - if @user.picture?
          %p
            Current Picture
            %br
            = image_tag(@user.picture.thumb.url, width: '20%')

        = f.input :affiliation, as: :string,
          hint: 'This could be a company, a user group, or nothing at all.'
        = f.input :biography, input_html: { rows: 5, data: { provide: 'markdown' } },
          hint: markdown_hint
        You have used
        %span#bio_length
          = @user.biography ? @user.biography.split.length : 0
        words.  Biographies are limited to 150 words.
        %br
        %br
        = f.action :submit, as: :button, label: 'Update', button_html: {class: 'btn btn-primary'}

:javascript
  $(document).ready(function() {
    $('#user_timezone').selectize({})
  });

    let localOffset = (new Date()).getTimezoneOffset()/60;
    // UTC JS offsets are "-1 *" of how they're displayed.
    let operator = localOffset < 0 ? '+' : '-';
    $('.js-localTimezone').text(`(GMT ${operator}${Math.abs(localOffset)}).`);
