:ruby
  header_color = event.event_type&.color || '#f5f5f5'
  color_style = css_background_color(header_color)
  program = event.conference.program
  tz_object = current_user&.timezone.present? ? current_user : event

.panel.panel-default
  .trapezoid{ style: 'color: white; top: 12px; z-index: 100;' }
  .panel-heading{ style: "#{color_style} border-radius: 4px" }
    %div{ style: 'display: flex; flex-direction: row;' }
      -# In the schedule view, favorited events show as false, until set by JS. (Caching perf)
      = render 'proposals/toggle_favorite_event',
              event: event, color: contrast_color(header_color), conference: @conference, is_favourite: false
      %h3.event-panel-title
        = link_to(event.title, conference_program_proposal_path(@conference.short_title, event.id),style: color_style)
  .trapezoid{ style: "color: #{header_color}; border-top-color: #{header_color}; top: 12px;" }

  .panel-body
    %div{ onClick: 'eventClicked(event, this);', 'data-url': conference_program_proposal_url(@conference.short_title, event.id) }
      - if event.speakers.any?
        %h4
          = event.speaker_names
      - if !event.parent_event.present? && event_schedule.present?
        - new_start_time = current_user ? convert_timezone(event_schedule.start_time, event.timezone, current_user.timezone) || event_schedule.start_time : event_schedule.start_time
        %span= " at #{new_start_time.strftime('%l:%M %P')}"
        = join_event_link(event, event_schedule, current_user, small: true)
      %p
        = markdown(truncate(event.abstract, length: 256))
        - if event.program_subevents.present?
          %ul
            - event.program_subevents.each do |subevent|
              %li= link_to(subevent.title, conference_program_proposal_path(@conference.short_title, subevent.id))
