:ruby
  header_color = event.event_type&.color || '#f5f5f5'
  color_style = css_background_color(header_color)
  condensed_view = defined?(is_brief) && is_brief
  abstract_length = condensed_view ? 250 : 400

.panel.panel-default
  .trapezoid{ style: 'color: white; top: 12px; z-index: 100;' }
  .panel-heading{ style: "#{color_style} border-radius: 4px" }
    %p
      = canceled_replacement_event_label(event, event_schedule)
      = replacement_event_notice(event_schedule, styles: color_style)

    %div{ style: 'display: flex; flex-direction: row;' }
      -# In the schedule view, favorited events show as false, until set by JS. (Caching perf)
      = render 'proposals/toggle_favorite_event',
              event: event, color: contrast_color(header_color), conference: @conference, is_favourite: false

      %h3{ style: 'margin: auto 3px; flex: 1' }
        = link_to conference_program_proposal_path(@conference.short_title, event.id),
                  style: color_style do
          = event.title
          - if event.subtitle.present?
            %br
            %small{ style: color_style }
              = event.subtitle

      - if !condensed_view
        %span
          - event.speakers_ordered.each do |speaker|
            = image_tag speaker.profile_picture, class: 'img-circle', alt: speaker.name

  .trapezoid{ style: "color: #{header_color}; border-top-color: #{header_color}; top: 12px;" }

  .panel-body
    %div{ onClick: 'eventClicked(event, this);', 'data-url': conference_program_proposal_url(@conference.short_title, event.id) }
      - if event.speakers.any?
        %h4
          = event.speaker_names
      = join_event_link(event, event_schedule, current_user)
      %p
        = truncate(markdown(event.abstract), length: abstract_length, escape: false) do
          %br
          = link_to 'read more', conference_program_proposal_path(@conference.short_title, event.id)
        -# TODO: More informative text or aria-label.

    - if !condensed_view
      - if event_schedule.present?
        = inyourtz(event_schedule.start_time, event.timezone) do
          %span.fa.fa-clock-o
            .label.label-info
              = event_schedule.start_time.strftime('%l:%M %P')
              \-
              = "#{event_schedule.end_time.strftime('%l:%M %P')} #{timezone_text(event)}"
        %span.fa.fa-map-marker
          .label.label-info
            = event_schedule.room.name
      - if event.track
        .track
          %span.fa.fa-road
          .label{ style: css_background_color(event.track.color) }
            = event.track.name
