.row.text-center
  - event_types.each_with_index do |type, index|
    - if (index % 6).zero? && index != 0
      %br
    = link_to events_conference_schedule_path(conference.short_title, favourites: favourites, event_type: type.title), id: type.title, class: 'event-type btn btn-xs', style: css_background_color(type.color) do
      - if params[:event_type] == type.title
        = fa_icon('check')
      #{type.title} (#{type.length} minutes)
    &nbsp;
  - if params[:event_type]
    = link_to events_conference_schedule_path(conference.short_title, favourites: favourites, event_type: nil), class: 'event-type btn btn-xs btn-primary' do
      = fa_icon('close')
      Show all events
