- provide :title, "#{@conference.title} Program"
= content_for :splash_nav do
  %li
    = link_to('Schedule', events_conference_schedule_path(@conference))


.container#program
  = render partial: 'schedule_tabs', locals: { active: 'program' }

  %h1.text-center
    - if @favourites && current_user
      #{current_user.name}'s Program for #{@conference.title}
    - else
      Program for #{@conference.title}

  %p.text-center
    All Events are currently scheduled in #{@conference.timezone}.
  - if current_user && !@favourites
    %p.text-center
      Click the star next to each event to add it to #{link_to 'your personal schedule', events_conference_schedule_path(@conference.short_title, favourites: true)}.

  = render 'event_types_key', event_types: @program.event_types

  .dropdown.program-dropdown
    %button.btn.btn-default.dropdown-toggle{ type: "button", 'data-toggle': "dropdown" }
      Dates
      %span.caret
    %ul.dropdown-menu
      - @dates.each do |date|
        %li.li-dropdown-program
          = link_to date, "##{date}", class: "program-selector#{ ' no-events-day' unless @conference.program.any_event_for_this_date?(date) }"
      - if @unscheduled_events.any?
        %li.li-dropdown-program
          = link_to('Unscheduled', "#unscheduled", class: 'program-selector')

  - if @favourites && current_user &&  @events_schedules.empty?
    .row
      %strong
        You have no events on your agenda.
      %br
      %strong
        #{link_to 'View the full program', events_conference_schedule_path(@conference.short_title, favourites: false)} and add events to your schedule?
  .row
    / scheduled events
    - date = nil
    - time = nil
    - @events_schedules.each do |event_schedule|
      - start_ymd = event_schedule.start_time.strftime('%Y-%m-%d')
      - unless start_ymd.eql?(date)
        .col-xs-12.col-md-12
          .date-content
            %span.date-title{ id: start_ymd }
              = inyourtz(event_schedule.start_time, @conference.timezone) do
                = date = start_ymd
            %a.pull-right{ title: "Go up", href: "#program" }
              %i.fa-solid.fa-angles-up.fa-lg{ 'aria-hidden': true }
      .col-xs-12.col-md-1
        - if !event_schedule.start_time.strftime('%H:%M').eql?(time) || !start_ymd.eql?(date)
          - time = event_schedule.start_time.strftime('%H:%M')
          = inyourtz(event_schedule.start_time, @conference.timezone) do
            = time + ' ' + timezone_text(@conference)
      .col-xs-12.col-md-11
        - cache [event_schedule, event_schedule.event, current_user, event_schedule.happening_now?, '#scheduled#full#panel'] do
          = render 'event', event: event_schedule.event, event_schedule: event_schedule

    / confirmed events that are not scheduled
    - if @unscheduled_events.any?
      .col-xs-12.col-md-12
        .date-content
          %span.date-title#unscheduled
            Unscheduled events
          %a.pull-right{ title: "Go up", href: "#program" }
            %i.fa-solid.fa-angles-up.fa-lg{ 'aria-hidden': true }
      - @unscheduled_events.each do |event|
        .col-xs-12.col-md-12
          .unscheduled-event
            - cache [event, current_user, '#unscheduled#full#panel'] do
              = render 'event', event: event, event_schedule: nil

:javascript
  $('.program-selector').on('click', function(e) {
    $('.li-dropdown-program').removeClass('active');
  });

  $(document).ready(function(){
    tag = "#{ @tag }";
    if(tag !== ""){
      document.getElementById(tag).scrollIntoView();
    }

    updateFavouriteStatus({ events: #{@favourited_events}, loggedIn: #{current_user.present?} });
  });
