- provide :title, "#{@conference.title} Schedule"
= content_for :splash_nav do
  %li
    = link_to('Schedule', events_conference_schedule_path(@conference))

.container#program
  = render 'schedule_tabs', active: 'vertical_schedule'

  %h1.text-center
    - if @favourites && current_user
      #{current_user.name}'s Schedule for #{@conference.title}
    - else
      Schedule for #{@conference.title}

  %p.text-center
    %strong
      ⏰ This schedule uses your browser's local timezone.
      %span.js-localTimezone

  = render 'event_types_key', event_types: @program.event_types

  #vert-schedule-full-calendar
  - cache [@conference, @rooms, @event_schedules, @day, @favourites, current_user] do
    #fullcalendar{ data: { rooms: @rooms, events: @event_schedules, day: @day,
    'start-hour': @conference.start_hour, 'end-hour': @conference.end_hour,
    'start-date': @conference.start_date, 'end-date': @conference.end_date + 1.day,
    'tz-offset': timezone_offset(@conference),
    'now': @now, 'min-interval': @conference.program.schedule_interval } }
