- unless commercials.empty?
  %ul.nav.nav-tabs{ role: 'tablist' }
    - commercials.each.with_index(1) do |commercial, index|
      %li{class: "#{'active' if (index == 1)}"}
        %a{ href: "##{index}", role: 'tab', 'data-toggle': 'tab' }
          = commercial.title || index
  .tab-content
    - commercials.each.with_index(1) do |commercial, index|
      .tab-pane{ id: index, class: "#{'active' if (index == 1)}" }
        = render 'shared/media_item', commercial: commercial, cache: true
