%tr
  %td.col-sm-8.col-md-4
    .media
      .media-body
        %h4.media-heading= ticket.title
        .media-heading= markdown(ticket.description)
  %td.col-sm-1.col-md-2
    %span.text-center
      = ticket.registration_ticket? ? 'Yes' : 'No'
  %td.col-sm-1.col-md-1
    :ruby
      options = {
        type:     'number',
        min:      0,
        max:      ticket.registration_ticket? ? 1 : 99,
        disabled: ticket.registration_ticket? && user_has_reg_ticket,
        class:    'form-control quantity',
        'data-id' => ticket.id
      }
    = text_field_tag("tickets[][#{ticket.id}]", 0, options)
    - if ticket.registration_ticket? && user_has_reg_ticket
      %em
        You currently have a registraction ticket.

  %td.col-sm-1.col-md-1.text-center
    = ticket.price.symbol
    %span{id: "price_#{ticket.id}"}
      = humanized_money ticket.price
  %td.col-sm-1.col-md-1.text-center
    %strong
      = ticket.price.symbol
      %span.total_row{id: "total_row_#{ticket.id}"}
        0
