= form_for(@ticket, url: (@ticket.new_record? ? admin_conference_tickets_path : admin_conference_ticket_path(@conference.short_title, @ticket))) do |f|
  .form-group
    = f.label :title
    %abbr{title: 'This field is required'} *
    = f.text_field :title, required: true, autofocus: true, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, rows: 5, data: { provide: 'markdown' }, class: 'form-control'
  .form-group
    = f.label :email_subject
    = f.text_field :email_subject, class: 'form-control'
  .form-group
  = f.label :email_body
  = f.text_area :email_body, rows: 10, cols: 20, class: 'form-control'
  %a.btn.btn-link.control_label.load_template{ 'data-subject-input-id' => 'ticket_email_subject',
  'data-subject-text' => '{conference} | Ticket Confirmation and PDF!',
  'data-body-input-id' => 'ticket_email_body',
  'data-body-text' => "Dear {name},\n\nThanks! You have successfully booked {ticket_quantity} {ticket_title} ticket(s) for the event {conference}. Your transaction id is {ticket_purchase_id}.\nPlease, find the ticket(s) pdf attached.\n\nBest wishes,\n{conference} Team"} Load Default Email
  %a.btn.btn-link.control_label.template_help_link{ 'data-name' => 'accepted_help' } Show Help
  = render partial: 'shared/help', locals: { id: 'accepted_help', show_event_variables: true, show_ticket_variables: true}
  -# template here
  -# booth not necessary
  .form-group
    = f.label :price
    = f.number_field :price, class: 'form-control'
  - if Ticket.where(conference: @conference).empty?
    .form-group
      = f.label :price_currency, 'Currency'
      = f.select :price_currency, ['USD', 'EUR', 'GBP', 'INR', 'CNY', 'CHF'], { include_blank: false }, { class: 'form-control' }
  - else
    = hidden_field_tag "ticket[price_currency]", f.object.conference.tickets.first.price_currency
    %span.help-block
      Your conference tickets are in
      = f.object.conference.tickets.first.price_currency
  .form-group
    = f.check_box :registration_ticket, class: 'form-check-input'
    = f.label :registration_ticket, class: 'form-check-label'
    .help-block
      A registration ticket is with which user register for the conference.
  .form-group
    = f.check_box :visible, class: 'form-check-input'
    = f.label :visible, 'Visible?', class: 'form-check-label'
    .help-block
      Only visible tickets are available to registrants. Non-visible tickets can only be managed by Admins.

  %p.text-right
    = f.submit nil, class: 'btn btn-primary'
