= form_for @currency_conversion do |f|
  - if @currency_conversion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@currency_conversion.errors.count, "error")} prohibited this currency_conversion from being saved:"
      %ul
        - @currency_conversion.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
