.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th Ticket
        %th Quantity
        %th Price
        %th Total
    %tbody
      - @unpaid_ticket_purchases.each do |ticket|
        %tr
          %td= ticket.title
          %td= ticket.quantity
          %td= humanized_money_with_symbol ticket.purchase_price
          %td= humanized_money_with_symbol ticket.purchase_price * ticket.quantity
= form_tag conference_payments_path(@conference.short_title), method: :post do
  = hidden_field_tag :has_registration_ticket, @has_registration_ticket
  .payment-actions
    = link_to 'Edit Purchase', conference_tickets_path(@conference.short_title), class: 'btn btn-default'
    = submit_tag "Pay #{humanized_money_with_symbol @total_amount_to_pay}", class: 'btn btn-success'
