- reverse ||= false
- variant = variant_from_delta(delta, reverse: reverse)
.dashbox.panel.panel-primary
  .paenl-body.text-center
    %span
      = icon('fa-solid', icon)
      = value
    %p.text-nowrap
      %small
        = subtitle.pluralize(value)
        .label{ class: "label-#{variant}" }
          = delta || 0
          since last log in
