%nav.navbar.navbar-default.navbar-fixed-top.nav-osem{role: 'navigation'}
  .container
    .navbar-header
      - if controller.class.name.split("::").first=="Admin"
        %button{ "data-target"=>"#side-nav", "data-toggle"=>"collapse", class: 'navbar-toggle side-nav-btn', type: 'button' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %button{"data-target"=>"#main-nav", "data-toggle"=>"collapse", class: 'navbar-toggle', type: 'button'}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = nav_root_link_for(conference)

    .collapse.navbar-collapse#main-nav
      %ul.nav.navbar-nav#splash-nav
        - if content_for :splash_nav
          = content_for :splash_nav
        = render 'layouts/snapcon_nav'
      -if user_signed_in?
        .btn-group.pull-right
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: '#', id: "current-user-detail"}
                = current_user.name
                = image_tag(current_user.profile_picture(size: '18'), class: 'profile-thumbnail', alt: '')
                %b.caret
              %ul.dropdown-menu
                = render 'layouts/user_menu'
      - else
        %ul.nav.navbar-nav.navbar-right
          - if ENV.fetch('OSEM_ICHAIN_ENABLED', nil) == 'true'
            - reg_path = new_ichain_registration_path('user')
          - else
            - reg_path = new_registration_path('user')
          %li
            = link_to(reg_path) do
              %span.fa-solid.fa-heart
              Sign Up
          %li
            = link_to(sign_in_path) do
              %span.fa.fa-user
              Sign In
  .trapezoid
